{% extends "wagegap/base.html" %}
{% block content %}
  <h3>
    How much would be your life costs if you earned a minimal wage?
  </h3>
  <div id="country">
    <form action="view" method="POST">
      {% csrf_token %}
      <select name="contry">
      {% for v in data %}
          <option value="{{v.id}}">{{v.room}} {{v.date}}</option>
      {% endfor %}
      </select>
      <input type="submit" class="btn" value="Send" name="select_country">
  </form>
  </div>
  <div id="wage">
    <form action="#" method="get">
      <input type="text" value="Your wage" name="wagebox"/>
      <input type="submit" class="btn" value="Click" name="wagesubmit">
    </form>
  </div>
<h4>Current living costs in Poland</h4>
  <div id="content">
    {% for item, cost in current_numbers %}
    <li>{{item}}: {{cost}} PLN
    {% endfor %}
  </div>
{% endblock %}}
