{% extends "wagegap/base.html" %}
{% block content %}

  <h3>
    How much would be your life costs if you earned a minimal wage?
  </h3>
    <span class="align-middle"
<div class="row w-25 mx-md-3">

  <div class="col px-md-5"><div class="p-3 border bg-light">
  <select class="custom-select" size=5 multiple>
  <option selected disabled>Choose country</option>
  {% for country in countries %}
      <option value="{{country.id}}">{{ country }}</option>
  {% endfor %}
</select>
  </div>
  </div>
  <div class="col px-md-5"><div class="p-3 border bg-light">
    <form action="#" method="get">
      <h4>Your monthly income</h4>
      <input type="text" name="wagebox"/>
      <input type="submit" class="btn btn-outline-secondary" value="Submit" name="wagesubmit"/>
    </form>
  </div>
  </div>
</span>
</div>


{% endblock %}
