{% extends "wagegap/base.html" %}
{% block content %}
  <h3>
    How much would be your life costs if you earned a minimal wage?
  </h3>
  <h3>Current living costs in {{country_name}}</h3>
    <div id="content">

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Current price</th>
            <th scope="col">Your price</th>
            <th scope="col">Difference</th>
          </tr>
        </thead>
        {% for header, category in current_numbers %}
        <thead class="thead-light">

            <th scope="row">{{ header }}</th>
            <th scope="row"></th>
            <th scope="row"></th>
            <th scope="row"></th>

        </thead>

    <tbody>
          {%for item, numbers in category.items %}
      <tr>
        <th scope="row">{{ item }}</th>
        {% for num in numbers %}
        <td>{{ num }} €</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    {% endfor %}
  </table>

    </div>
{% endblock %}}
